html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

html.puzzle-gen .module {
    padding: 1rem;
    border: 5px solid #888;
    margin: 1rem:
}
html.puzzle-gen .panel {
    border: 10px solid orange;
    display: inline-block;
    border-radius: 20px;
}
html.puzzle-gen .panel.bw {
    background-color: #f5d8a3;
}
html.puzzle-gen .circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
}

html.game body {
    background-image: url("screenshot12-low.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
html.game #drawing > svg {
    margin: 0;
    width: 500px;
    height: 500px;
}

html.game .marker {
    display: none;
}

html.game .marker.on {
    display: initial;
    fill-opacity: 0;
    stroke: #FFFFFF;
    stroke-width: .08;
    transform-origin: 50% 50%;
    animation-name: marker;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

@keyframes marker {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    5% {
        opacity: .8;
    }
    20% {
        opacity: .8;
    }
    40% {
        transform: scale(10, 10);
        opacity: 0;
    }
    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}